:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --blue-color :#0277bd;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;

}



body{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    height: 100000px;
}

.main-title::after{
content: '';
width: 120px;
height: 2px;
background-color: var(--green-color);
position: absolute;
bottom: -20px;
left: 50%;
transform: translateX(-50%);
}

/*start navbar */
.navbar{
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
    
}
.navbar .search {
    border-left: 1px solid var(--green-color); 
}
.navbar .search svg {
    color: var(--green-color);
}
.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
/*end navbar */
/*start landing */
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}


/*end landing */

/*start features */

.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number{
font-size: 12rem;
color: var(--section-color);
}
.features  .icon-holder  .ico{
    color: var(--green-color);
    size: 20px;
}
.features  .feat h4{
    color: #ffc400;
}
/*end features */

/*start our-work */
.our-work{
    background-color: var(--section-color);
}
.our-work  ul  .active{
background-color: var(--red-color);
color: var(--yellow-color);
}
.our-work  ul  li{
padding: 0.5rem  1rem;
cursor: pointer;
}
.our-work  ul  li:not(.active):hover{
color: var(--red-color);
}
.our-work  .box{
padding: 5px;
overflow: hidden;
position: relative;

}

/*end our-work */